html{
    background-color: #f6f5f5;
}

body {
    margin: 0;
    height: 100%;
    text-align: center;
}

#b1{
    background-color: #f6f5f5;
    padding: 3%;
    height: 100vh;
}

.f2{
    width: 70%;
    margin: auto;
    padding: 3%;
    border: none;
    border-radius: 2%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}